Relay.createContainer(UserComponent, {
  fragments: {
    user: () => Relay.QL`
      fragment on User {
        name
        wins
        character {
          ${Character.getFragment(character)}
        }
      }`
  },
})
